*{
    box-sizing: border-box;
}
body{
    
    margin: 0 ;
    font-size:17px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0;
    background-image: url(bg3.jpg);
    background-size: cover;
    background-position: center;
    
}
.container {
    width:300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,00);

    background-color: rgb(149, 229, 243);
    padding:20px;
    text-align: center;
    margin: 8% auto 0;
    border: 1px solid rgb(37, 188, 226);
    border-radius: 5px;
    


}
 .heading {
    text-align: center;
    color: rgb(18, 166, 177);
    }
input[type="email"],
input[type="password"]{
    width:100%;
    border: 1px solid rgb(75, 159, 170);
    border-radius: 6px;
    outline: none;
    padding: 8px;


}
input[type="text"]
{
    border: 1px solid rgb(75, 159, 170);
    border-radius: 6px;
    width: 100%;
    outline: none;
    padding: 8px;
}
input[type="submit"]{
    border-radius: 5px;
    background-color: rgb(58, 181, 218);
    cursor: pointer;
}
p{
    text-align: left;
}
#already{
    text-align: center;
}
